.vscode
**/__pycache__
src/visualizations/
visualizations/
logs/
dumps/
visualizations*.tar
src/cache
src/achieves/
src/configs/secret
/*.py
/code-history.txt
src/pretrained_models/
*.tar.gz
.ipynb_checkpoints/
.virtual_documents/
*.pcd
.download.json
src/dummy_engine_test.ipynb
deepseek-coder-6.7b-instruct/
src/CMakeLists.txt
build/
devel/
*.mp4
