jupyter
openai
plotly
transforms3d
open3d
accelerate
# opencv-python # for local with head
opencv-python-headless # for server
progressbar2
gdown
gitpython
git+https://github.com/cheind/py-thin-plate-spline
hickle
tensorboard
numpy
transformers